<body>
<h2>Teachers</h2>  
<ion-content padding>
<ion-row>  
<ion-col col-4>
<ion-card style="border: green 2px solid;">
<ion-card-content class="card-content" style="">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="person-circle-outline" color='primary'></ion-icon>
<ion-card-title style="background-color: red;">
 
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mrs H.S Ntshangase<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Principal and Owner</p>
</ion-card-title>
</ion-card-content>
</ion-card>
</ion-col>
</ion-row>
<ion-button  size='full' routerLink='/home'>Back to Home</ion-button>
</ion-content>
