<body>
  <ion-icon name="leaf-outline" size='large' color='success'></ion-icon>
  <label>Sustainability |<label><br><ion-list>
  
    <ion-icon name="checkmark-done-outline" size='small' color='success'></ion-icon><a>School Fees</a>
    <br>
    <ion-icon name="checkmark-done-outline" size='small' color='success'></ion-icon><a>Spring days</a>
    <br>
    <ion-icon name="checkmark-done-outline" size='small' color='success'></ion-icon><a>Valentines</a>
    <br>
    <ion-icon name="checkmark-done-outline" size='small' color='success'></ion-icon><a>Children's Days</a>
    <br>
    <ion-icon name="checkmark-done-outline" size='small' color='success'></ion-icon><a>Graduation Parties</a>
    <br>
    <ion-icon name="checkmark-done-outline" size='small' color='success'></ion-icon><a> Cake Sale</a>
  
  </ion-list>
  
  
  <ion-icon name="radio-button-on-outline" color='secondary' routerLink='/home'></ion-icon>

<ion-label routerLink='/home'>Home</ion-label>
