<body>
<div class="topnav">
  <a href routerLink="/home">Home</a>
<a href routerLink="/about">About</a>
<a href routerLink="/contact">Contact</a>
<a href routerLink="/service">Service</a>
</div><h2>About Us</h2>

Good Hope DayCare & Pre-School is registered as a NON-PROFIT organization.The organization operates in an area faced with poverty, unemployement and mulnutrition and also children who are idling on the street without supervision, therefore there was a need for a day care center. Children will learn :
Drawing
Painting
Cut & Paste
Art & Culture
Numerecy
<h1>Outcomes </h1>
Children will be able to read , write and to develop Physically , Emotionally ,Socially & Mentally .