<body>
<div class="topnav">
<a href routerLink="/home">Home</a>
<a href routerLink="/contact">Contact</a>
<a href routerLink="/service">Service</a>
</div>
<h2>Contact Us</h2>
<ion-grid>
  <ion-row>
   <ion-col>
  <div class="ion-text-nowrap">
<ion-card>
<ion-card-content>
    <p><ion-list>
  <ion-avatar>

</ion-avatar>
 <ion-item>
 <ion-icon name="navigate" color='primary'></ion-icon>&nbsp;<a>99</a>&nbsp; High street, Rosettenville, 2190
  </ion-item><ion-item>

  <ion-icon name="call" color='dark'></ion-icon> &nbsp;&nbsp;<a>063 210 7053 | 011 039 5295</a>
  </ion-item>
  <ion-item><ion-icon name="logo-whatsapp" color='success'></ion-icon>&nbsp;&nbsp;<a>063 210 7053</a>&nbsp;&nbsp;</ion-item>
</ion-list></p>
  </ion-card-content>
</ion-card>
</div>
    </ion-col>
  </ion-row>
</ion-grid>
