<body>

<div class="topnav">
<a href routerLink="/home">Home</a>
<a href routerLink="/contact">Contact</a>
<a href routerLink="/service">Service</a>
</div><ion-list>
<h2>Mission Statement</h2><ion-item text-wrap>
<a><ion-icon name="checkmark-outline" color='success'></ion-icon>
To create environment that promotes children's safety and development.
<ion-icon name="checkmark-outline" color='success'></ion-icon>
To identify orphans and valnerable children and prepare them for better future!!!</a>

</ion-item>
</ion-list>