body{
background-color: red;
}
a{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color:blue;
  line-height: 30px;
}
h2{
  font-size: 18px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.topnav {
  overflow: hidden;
  background-color: red;
}
.topnav a {
  float: left;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
   background-color: red;
}
.topnav a:hover {
  background-color: rgb(238, 237, 245);
  color: black; 
}
.topnav a.active {
  background-color:red;
  color:red;
   border:white;
}.bottomnav {
  overflow: hidden;
  background-color: red;
 
}
.bottomnav a{
  text-decoration: none;
  color:rgba(240, 230, 230, 0.904);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
   
}
.bottomnav a.active {
  background-color:red;
  color:red;
   border:white;
}.bottomnav a:hover {
  background-color: rgb(238, 237, 245);
  color: red;

  
}