<body>
<div class="topnav">
<a href routerLink="/home">Home</a>
<a href routerLink="/about">About</a>
<a href routerLink="/contact">Contact</a>
<a href routerLink="/service">Service</a>
</div><h2>Objectives</h2>

<h1>Our main Objectives is to :</h1>
<ul><li>Provide basic education to children.</li>
<li>Encourage children to participate in art activities ..</li></ul>
<ion-item><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTii2bj7KZEHuKILqQyvG6txwTLvfOj0kZIDQ&usqp=CAU'>
<img src ='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ2UsacsGk5UcNiC3ujs-I8TPXuelHwEuz-g&usqp=CAU'>
<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLA8H-a5JIgFYD0RlmsWQ7DhR1MU-VjlJ9DQ&usqp=CAU'>
<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSevb1ETsTW9t2SfrVu57uKRP2ePfE9oxKmKQ&usqp=CAU'><br></ion-item>