<body>
<div class="topnav">
<a href routerLink="/">Home</a>
<a href routerLink="/contact">Contact</a>
</div>
<h2>Home</h2>
<ion-grid>
  <ion-row>
   <ion-col>
  <div class="ion-text-nowrap">
<ion-card>
<ion-card-content>
    <p><ion-list>
&nbsp;&nbsp;&nbsp;
<ion-icon name="school" color='dark'></ion-icon><br>&nbsp;<a>GOOD HOPE DAYCARE & PRE-SCHOOL </a>

</ion-list></p>
  </ion-card-content>
</ion-card>
</div>
    </ion-col>
  </ion-row>
</ion-grid>
<div class="ion-text-center">
<ion-label>
Dev:Tony kobe - Diploma in IT | Adv Diploma in IRM Student </ion-label>